absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1623774798911/work
argon2-cffi @ file:///D:/bld/argon2-cffi_1605217285838/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1625835469330/work
click @ file:///D:/bld/click_1621503850368/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1615224146321/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1621187651333/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1621629915293/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1624952364672/work
gevent==21.1.2
google-pasta==0.2.0
greenlet==1.1.0
grpcio @ file:///D:/bld/grpcio_1624380687472/work
gunicorn==20.1.0
h5py==2.10.0
importlib-metadata @ file:///D:/bld/importlib-metadata_1625463907902/work
ipykernel==5.3.4
ipython==5.8.0
ipython-genutils==0.2.0
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1615693636836/work
jupyter-core @ file:///D:/bld/jupyter_core_1612125482653/work
Keras==2.0.8
Keras-Applications==1.0.8
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610713559828/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1614595805172/work
MarkupSafe @ file:///D:/bld/markupsafe_1621455827344/work
mistune @ file:///D:/bld/mistune_1624941451963/work
nbconvert==5.6.0
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
notebook @ file:///D:/bld/notebook_1616419531260/work
numpy @ file:///D:/bld/numpy_1610324703282/work
olefile==0.46
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandas==0.25.3
pandocfilters==1.4.2
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///C:/ci/pillow_1602785322033/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1622586138406/work
prompt-toolkit==1.0.15
protobuf==3.17.2
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1620245170812/work
pyparsing==2.4.7
pyreadline @ file:///D:/bld/pyreadline_1611175347303/work
pyrsistent @ file:///D:/bld/pyrsistent_1610146967272/work
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
pywin32==300
pywinpty==1.1.3
PyYAML==5.4.1
pyzmq @ file:///D:/bld/pyzmq_1622038590137/work
scipy @ file:///C:/bld/scipy_1604304921754/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1624366715919/work
simplegeneric==0.8.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado @ file:///D:/bld/terminado_1623365555202/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
tornado @ file:///D:/bld/tornado_1610094881553/work
traitlets==4.3.3
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
wincertstore==0.2
wrapt @ file:///D:/bld/wrapt_1610095090510/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1625284368454/work
zope.event==4.5.0
zope.interface==5.4.0
