absl-py
argon2-cffi
astor
attrs
backports.functools-lru-cache
bleach
cached-property
certifi==2020.6.20
cffi
click
colorama
dataclasses
decorator
defusedxml
entrypoints
Flask
gast
gevent==21.1.2
google-pasta==0.2.0
greenlet==1.1.0
grpcio
gunicorn==20.1.0
h5py==2.10.0
importlib-metadata
ipykernel
ipython==5.8.0
ipython-genutils==0.2.0
itsdangerous
Jinja2
jsonschema
jupyter-client
jupyter-core
Keras==2.0.8
Keras-Applications==1.0.8
Keras-Preprocessing
Markdown
MarkupSafe
mistune
nbconvert==5.6.0
nbformat
notebook
numpy
olefile==0.46
packaging
pandas==0.25.3
pandocfilters==1.4.2
pickleshare
Pillow
prometheus-client
prompt-toolkit==1.0.15
protobuf==3.17.2
pycparser
Pygments
pyparsing==2.4.7
pyreadline
pyrsistent
python-dateutil==2.8.1
PyYAML==5.4.1
pyzmq
scipy
Send2Trash
simplegeneric==0.8.1
six
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado
testpath
tornado
traitlets==4.3.3
typing-extensions
wcwidth
webencodings==0.5.1
Werkzeug
wincertstore==0.2
wrapt
zipp
zope.event==4.5.0
zope.interface==5.4.0
