Flask
gunicorn==20.1.0
h5py==2.10.0
importlib-metadata
ipykernel==5.3.4
ipython==5.8.0
ipython-genutils==0.2.0
itsdangerous
Jinja2
Keras==2.0.8
Keras-Applications==1.0.8
Keras-Preprocessing
notebook
numpy
pandas==0.25.3
pandocfilters==1.4.2
pickleshare
Pillow
prompt-toolkit==1.0.15
protobuf==3.17.2
scipy
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
